canvas {
  background-color: #000;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e6e6e6;
  overflow: hidden;
}

a {
  color: #e9ad2d;
  text-decoration: none;
}

main {
  padding: 20px;
}

li a {
  list-style-type: none;
  font-size: 22px;
}
